<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Car_Mileage_Prediction</title>
    <link rel="stylesheet" href="homepage.css">
</head>
<body>
    <script src="script.js"></script>
    <div class="prediction">
        <div class="title">
            <h1>Predict Your Car Mileage</h1>
        </div>
        <img src="car.jpg" class="image">
        <div class="overlay" id="overlay">
            <form>
                <label for="myfile" >Select a file:</label> <br>
                <input type="file" class="file" id="path" onchange="bt()">
            </form> 
        </div>
    </div>
    
</body>
</html>